<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Güvenle Ye</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">

      </ul>
      <form class="d-flex my-2 my-lg-0">
        <input class="form-control me-sm-2" type="text" placeholder="Arama">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Arama</button>

      </form>
      <ul class="navbar-nav  mt-0 mt-lg-0">
        <li class="nav-item d-flex my-2 my-lg-0">
          <a class="nav-link" href="http://localhost:3000/suggestarea" aria-current="page"><i class="fa fa-envelope-o"
              aria-hidden="true"></i></a>
        </li>
        <li class="nav-item d-flex my-2 my-lg-0">
          <a class="nav-link" href="#" aria-current="page"> <i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item d-flex my-2 my-lg-0">
          <a class="nav-link" href="#" aria-current="page"> <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>